<!DOCTYPE html>
<html>
<head>
	<title>Vue watch property</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.min.js"></script>
	<meta charset="utf-8">
</head>
<body>
	<label><h2>The following example show Vue's watch property that judge data when user change it.</h2></label>
	<label><h3>1.Test program by entering the correct form(e.g., Steve Jobs, Chirs Tina). </h3></label>
	<label><h3>2.Test program by entering the wrong form(e.g., Steve, Chirs) or balnk the textbox. </h3></label>
 	<br>
	<label><h2>Original data binding.</h2></label>

	<div id="nameVue">
		<input id="name" v-model="name" @change="checkName">
		<span style="color: red">{{alertMessage}}</span>
	</div>

 	<br>
 	<br>

 	<label><h2>Handle data by using 'watch' property</h2></label>
	<div id="nameVueByWatch">
		<input id="nameByWatch" v-model="nameByWatch">
		<span style="color: red">{{alertMessage}}</span>
	</div>

	<script>
		let nameData = {
			name: 'Steve Jobs',
			alertMessage: ' ',
		}

		let nameMethod = {
			checkName: () => {
				let inputName = document.getElementById("name").value
				if(inputName.trim().indexOf(' ') == -1){
					nameData.alertMessage = '請輸入正確的姓名格式'
				}else{
					nameData.alertMessage = ''
				}
			}
		}

		let nameVue = new Vue ({
			el: '#nameVue',
			data: nameData,
			methods: nameMethod,
		})

		let nameDataByWatch = {
			nameByWatch: 'Chirs Tina',
			alertMessage: ' ',
		}

		let nameMethodByWatch = {
			checkName: (newName, oldName) => {
				if(newName.trim().indexOf(' ') == -1){
					nameDataByWatch.alertMessage = '請輸入正確的姓名格式'
				}else{
					nameDataByWatch.alertMessage = ''
				}
			}
		}

		/**
		 * v-model do the following two things.
         * 1. Use v-bind to complete One-way binding data when data is changed.
         * 2. Use v-on:input to detect value change, and update value that is binded by v-bind.
         *
         */

         /**
          * Based on v-model do v-on:input, let 'watch' property be triggered by setter, and execute the event defined in 'watch'.
          *
          * Finally, rebind the value by getter.
          */

		let nameVueByWatch = new Vue ({
			el: '#nameVueByWatch',
			data: nameDataByWatch,
			watch: {
				/**
				 * Trigger the following code when name is changed.
				 */
				nameByWatch: (newVal, oldVal) => {
					//Call function checkName which is defined in nameMethodByWatch.
					nameMethodByWatch.checkName(newVal)
				}
			}
		})
	</script>

</body>
</html>